* {
  margin:0;
  padding:0;  
  font-family:"HK Grotesk";
}

.q-hero__logo {
  margin-top: 40px;
  padding-left: 120px;
  position: absolute;
}
 
.flex-container {
  width:1120px;
  height: 100%;
  margin:0 auto;
  display: flex;
  align-items: center;
  justify-content: space-around;
 } 


.q-hero__image {
  position: absolute;
  width: 567px;
  height: 687px;
  left: 708px;
  top: 80px;
}

section#sec-1 {
  height:100vh;
  background-color: #151B2B;
  color:white;
}

section#sec-1 .container {
  display: flex;
  align-items: end;
}

section#sec-1 .title {
  display: flex;
  align-items: center;
}

section#sec-1 h1 {
  font-size: 46px;
  margin-right: 25px;
}

section#sec-1 h2 {
  font-size: 25px;
  font-weight: 500;
  margin: 30px 0;
}

section#sec-1 p {
  font-size: 16px;
  color: #8686b2;
  max-width: 450px;
  padding-left: 7px;
}

section#sec-1 .row-button{
  margin-top: 60px;
  display: flex;
  flex-direction: row;
}

section#sec-1 .row-button button {
  border: none;
  padding: 10px 16px;
  border-radius: 3px;
  color: white;
  font-family: "HK Grotesk";
  font-weight: 500;
  letter-spacing: 1px;
  font-size: 1em;
  display: flex;
  cursor: pointer;
  outline: none;
}

section#sec-1 .row-button button i{
  font-size: 1.3em ;
  top: 3px;
  position: relative;
  margin-right: 10px;
}

section#sec-1 .row-button button:nth-child(1){
  background-color: #454658 ;
  margin-right: 25px;
}

section#sec-1 .row-button button:nth-child(2){
  background-color:#6578C0 ;
}

/* RIGHT SIDE HERO BANNER */

section#sec-1 .right .img-top-illu {
  margin-bottom: -300px;  
  position: relative;
  height: 100%; 
  z-index: 10;
  animation: HeroSlideIn .9s forwards;
} 

section#sec-1 .right .img-mid-illu {
  position: relative;
  z-index: 8;
  animation: HeroSlideIn .3s forwards;
  animation-delay:1s; 
opacity: 0;
}
 
section#sec-1 .right .img-bot-illu {
  margin-top: -300px;  
  /* position: relative; */
  height: 100%; 
  z-index: 6;
  animation: HeroSlideIn .6s forwards;
 animation-delay:2s; 
opacity: 0;
} 

@keyframes HeroSlideIn {
  0% {
      transform: translateY(-10%);
      opacity: 0;
  }
  
  100% {
      transform: translateY(0);
      opacity: 1;
  }
}

