* {
  margin:0;
  padding:0;  
  font-family:"HK Grotesk";
}

.q-hero__logo {
  margin-top: 40px;
  padding-left: 120px;
  position: absolute;
}
 
.flex-container {
  width:1120px;
  height: 100%;
  margin:0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
 } 

.q-hero__image {
  position: absolute;
  width: 567px;
  height: 687px;
  left: 708px;
  top: 80px;
}

section#sec-1 {
  height: 90vh;
  background-color: #151B2B;
  color:white;
}

section#sec-1 .container {
  display: flex;
  align-items: flex-end;
  /* background:rgb(14, 11, 11); */
}

section#sec-1 .title {
  display: flex;
  align-items: center;
}

section#sec-1 h1 {
  font-size: 46px;
  margin-right: 25px;
}

section#sec-1 h2 {
  font-size: 25px;
  font-weight: 500;
  margin: 30px 0;
}

section#sec-1 p {
  font-size: 16px;
  color: #8686b2;
  max-width: 450px;
  padding-left: 7px;
}

section#sec-1 .row-button{
  margin-top: 60px;
  display: flex;
  flex-direction: row;
}

section#sec-1 .row-button button {
  border: none;
  padding: 10px 16px;
  border-radius: 3px;
  color: white;
  font-family: "HK Grotesk";
  font-weight: 500;
  letter-spacing: 1px;
  font-size: 1em;
  display: flex;
  cursor: pointer;
  outline: none;
}

section#sec-1 .row-button button i{
  font-size: 1.3em ;
  top: 3px;
  position: relative;
  margin-right: 10px;
}

section#sec-1 .row-button button:nth-child(1){
  background-color: #454658 ;
  margin-right: 25px;
}

section#sec-1 .row-button button:nth-child(2){
  background-color:#6578C0 ;
}

/* RIGHT SIDE HERO BANNER */

section#sec-1 .right .img-top-illu {
  margin-bottom: -300px;  
  position: relative;
  height: 80%; 
  z-index: 10;
  animation: HeroWrapperSlideIn 1.3s forwards;
} 

section#sec-1 .right .img-mid-illu {
  position: relative;
  z-index: 8;
  animation: HeroSlideIn .9s forwards;
  animation-delay:0.5s; 
  opacity: 0;
  padding-left: 1px;
}
 
section#sec-1 .right .img-bot-illu {
  margin-top: -300px;  
  height: 100%; 
  z-index: 6;
  animation: HeroSlideIn .6s forwards;
  animation-delay:1s; 
  opacity: 0;
} 

@keyframes HeroWrapperSlideIn {
  0% {
      transform: translateY(-1%);
     }
  
  100% {
      transform: translateY(0);
     }
}


@keyframes HeroSlideIn {
  0% {
      transform: translateY(-10%);
      opacity: 0;
  }
  
  100% {
      transform: translateY(0);
      opacity: 1;
  }
}
 
.q-how {
  color: black;
  max-width: 900px;
  margin:auto;
  padding: 96px 32px;
  text-align: center;
  flex-direction: column;
  position: relative;
  justify-content: right;
}

.q-how h1 {
  font-family:"HK Grotesk";
  font-weight: 800;
  font-size: 32px;
  line-height: 110%;
  color: #454658;
  padding-bottom: 50px;
  margin-left: 110px;
  margin-left: 200px !important;
}
.q-how p {
  font-size: 16px;
  line-height: 150%;
  color: #454658;
  padding-bottom: 100px;
  margin-left: 200px;
  max-width: none !important ;
  padding-left: 0 !important ;
}

.q-how img {
   margin-left: 180px;
}

.q-Usage {
  flex-direction: column;
  align-items: center;
}

.q-Usage h1 {
  font-family:"HK Grotesk";
  font-weight: 800;
  font-size: 32px;
  line-height: 110%;
  color: #454658;
  padding-bottom: 50px;
  margin-left: 200px !important;
  margin-top: 70px;
}

.q-Usage p {
  max-width: none !important ;
}

.q-Usage img {
   margin-top: -170px; 
}
/*Section 3*/

section#sec-3 .row {
 display: flex;
 flex-direction: row;
 justify-content: center;
 /* background-color: red; */

}

section#sec-3 .bloc {
  max-width: 428px;
  margin-left: 200px;
}

section#sec-3 .bloc h2 {
  /* font-family:"HK Grotesk"; */
  /* font-style: normal; */
  font-weight: bold;
  font-size: 24px;
  line-height: 26px;
  color: #454658;
}

section#sec-3 .bloc p {
  font-family:"HK Grotesk";
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
margin: 30px 0 20px 0;
}

section#sec-3 .bloc span {
font-style: normal;
font-weight: bold;
font-size: 12px;
line-height: 16px;
text-transform: uppercase;
color: #5D64D2;
}


